.login-form{
  background-color: silver;
  border: solid 2px rgb(21, 20, 20);
  border-radius: 10px;
}

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1; /* This pushes the footer down */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content */
  align-items: center;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

